body{
    background-color:cornflowerblue;
    color:beige;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

#sweater{
    display:flex;
    position:absolute;
    right:50px;
    bottom:50px;
    
}
.block{
    display: flex;
    flex-wrap: wrap;
    width:160px;
    margin: 1px;
}
.stitch{
    width: 30px;
    height: 30px;
    background-color: beige;
    border: solid .2px cornflowerblue;
}


.fill{
    background-color:deeppink;
    border: solid 1px deeppink;
}

