body{
    background-color:cornflowerblue;
    color:beige;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}
#instructions{
    position:absolute;
    top: 2rem;
    left: 2rem;

}
#sweater{
    display:flex;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.block{
    display: flex;
    flex-wrap: wrap;
    width:150px;
    margin: .2px;
}
.stitch{
    width: 30px;
    height: 30px;
    background-color: beige;
    border: solid .2px cornflowerblue;
}


.fill{
    background-color:deeppink;
    border: solid 1px deeppink;
}

#color-picker{
    width:70px;
    height:60px;
    position:absolute;
    top: 2rem;
    right: 2rem;
