
#moss-text{
    color:transparent;
    font-size:4vw;
    width:65vw;
    text-align:justify;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:3s;
  }

.moss-ball{
    display: inline-block;
    position:absolute;
    width:90px;
    height:90px;
    background-color: forestgreen;
    border-radius: 90px;
    filter: blur(20px);
    opacity:0;

    
}

.moss-ball-vanish{

}



@media only screen and (max-width: 768px) {
    #moss-text{
        font-size: 7vw;
        width:90vw;;
    }
}
