#moss-text{
    color:transparent;
    font-size:4vw;
    width:65vw;
    text-align:justify;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:3s;
  }

.moss-ball{
    width:70px;
    height:70px;
    background-color: forestgreen;
    border-radius: 60px;
    filter:blur(10px);
    transition:3s;

}
.canvas{
    width:100vw;
    height:100wh;
}

@media only screen and (max-width: 768px) {
    #moss-text{
        font-size: 7vw;
        width:90vw;;
    }
}
