#moss-text{
    color:transparent;
    font-size:4vw;
    width:65vw;
    text-align:justify;
    display: flex;
    position: absolute;
    /*text-shadow: 0 0 15px forestgreen;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition:3s;
  }

.moss-ball{
    width:5vw;
    height:5vw;
    background-color: forestgreen;
    border-radius: 50px;
    filter:blur(10px);
    transition:3s;

}