body{
    background-color:cornflowerblue;
    color:beige;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.grid{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width:470px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.stitch{
    width: 50px;
    height: 50px;
    border: solid 1px cornflowerblue;
    background-color: beige;
  
}


.green{
    width: 50px;
    height: 50px;
    border: solid 1px cornflowerblue;
    background-color: rgb(60, 108, 11);
}